@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@background-color: #281030;

.all-select {
    user-select: all;
}

body {
    user-select: none;
    font-family: 'VT323', monospace;
    background-color: @background-color;
    color: #DC962D;
    font-size: 20px;

    p {
        line-height: 0.15;
    }

    pre {
        line-height: 1;
    }
}

#me {
    display: blocks;
    white-space: nowrap;
}

#menu {
    ul, li {
        font-size: 40px;
        display: inline;
        margin-right: 15px;
    }

    margin-top: -15px;
}

#greedling {
margin: 0px;
padding: 0px;
}
